<div
  fxLayoutAlign="center start"
  fxLayout="row">
  <mat-tab-group
    backgroundColor="primary"
    [selectedIndex]="0"
    mat-stretch-tabs
    color="accent"
    class="mat-elevation-z2 general-card-border">
    <mat-tab label="Ventas - Comercios">
      <form
        class="padding25"
        fxLayoutGap="10px"
        fxLayout="column"
        fxLayoutAlign="center start"
        [formGroup]="form">
        <mat-form-field
          appearance="outline">
          <mat-label>Tipo de identificación</mat-label>
          <mat-select
            required
            placeholder="Seleccione un tipo de identificación"
            formControlName="tipo_identificacion">
            <mat-option value="">
              Seleccione una opción
            </mat-option>
            <mat-option *ngFor="let option of tipoIdentifacion$ | async"
                        [value]="option.id">
              {{  option.description }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('tipo_identificacion').status === 'INVALID'">
            <app-form-errors
              errorPrefix="Seleccionar un tipo de identificación es requerido"
              [errors]="form.get('tipo_identificacion').errors">
            </app-form-errors>
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline">
          <mat-label>Identificación</mat-label>
          <input
            required
            type="text"
            matInput
            placeholder="Escribe la identificación"
            formControlName="identificacion">
          <mat-error *ngIf="form.get('identificacion').status === 'INVALID'">
            <app-form-errors
              errorPrefix="Este campo es requerido"
              [errors]="form.get('identificacion').errors">
            </app-form-errors>
          </mat-error>
        </mat-form-field>
        <div fxFill
             fxLayoutGap="6px"
             fxLayout="row">
          <mat-form-field
            appearance="outline">
            <mat-label>Primer nombre</mat-label>
            <input
              type="text"
              required
              matInput
              placeholder="Escribe tu  nombre"
              formControlName="nombre">
            <mat-error *ngIf="form.get('nombre').status === 'INVALID'">
              <app-form-errors
                errorPrefix="Este campo es requerido"
                [errors]="form.get('nombre').errors">
              </app-form-errors>
            </mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="outline">
            <mat-label>Segundo nombre</mat-label>
            <input
              type="text"
              matInput
              placeholder="Escribe tu  nombre"
              formControlName="nombre2">
            <mat-error *ngIf="form.get('nombre2').status === 'INVALID'">
              <app-form-errors
                errorPrefix="Este campo es requerido"
                [errors]="form.get('nombre2').errors">
              </app-form-errors>
            </mat-error>
          </mat-form-field>
        </div>
        <div
          fxFill
          fxLayout="row"
          fxLayoutGap="6px">
          <mat-form-field
            appearance="outline">
            <mat-label>Primer apellido</mat-label>
            <input
              required
              type="text"
              matInput
              placeholder="Escribe tu  apellido"
              formControlName="apellido">
            <mat-error *ngIf="form.get('apellido').status === 'INVALID'">
              <app-form-errors
                errorPrefix="Este campo es requerido"
                [errors]="form.get('apellido').errors">
              </app-form-errors>
            </mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="outline">
            <mat-label>Segundo apellido</mat-label>
            <input
              type="text"
              matInput
              placeholder="Escribe tu segundo apellido"
              formControlName="apellido2">
            <mat-error *ngIf="form.get('apellido2').status === 'INVALID'">
              <app-form-errors
                errorPrefix="Este campo es requerido"
                [errors]="form.get('apellido2').errors">
              </app-form-errors>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field
          appearance="outline">
          <mat-label>Razón social</mat-label>
          <input
            required
            type="text"
            matInput
            placeholder="Escribe tu razón social"
            formControlName="razon_social">
          <mat-error *ngIf="form.get('razon_social').status === 'INVALID'">
            <app-form-errors
              errorPrefix="Este campo es requerido"
              [errors]="form.get('razon_social').errors">
            </app-form-errors>
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline">
          <mat-label>Tipo de uso</mat-label>
          <mat-select
            required
            placeholder="Seleccione un tipo de uso"
            formControlName="tipo_uso">
            <mat-option value="">
              Seleccione una opción
            </mat-option>
            <ng-container  *ngFor="let option of tipoUso$ | async">
              <mat-option
                [disabled]="option.description === 'Residencial'"
                [value]="option.id">
                {{  option.description }}
              </mat-option>
            </ng-container>

          </mat-select>
          <mat-error *ngIf="form.get('tipo_uso').status === 'INVALID'">
            <app-form-errors
              errorPrefix="Seleccionar un tipo de identificación es requerido"
              [errors]="form.get('tipo_uso').errors">
            </app-form-errors>
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline">
          <mat-label>Email</mat-label>
          <input
            required
            type="email"
            matInput
            placeholder="Escribe tu email"
            formControlName="email">
          <mat-error *ngIf="form.get('email').status === 'INVALID'">
            <app-form-errors
              errorPrefix="Este campo es requerido"
              [errors]="form.get('email').errors">
            </app-form-errors>
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input
            type="text"
            matInput
            placeholder="Escribe tu teléfono"
            formControlName="telefono">
          <mat-error *ngIf="form.get('telefono').status === 'INVALID'">
            <app-form-errors
              errorPrefix="Este campo es requerido"
              [errors]="form.get('telefono').errors">
            </app-form-errors>
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline">
          <mat-label>Celular</mat-label>
          <input
            required
            type="text"
            matInput
            placeholder="Escribe tu celular"
            formControlName="celular">
          <mat-error *ngIf="form.get('celular').status === 'INVALID'">
            <app-form-errors
              errorPrefix="Este campo es requerido"
              [errors]="form.get('celular').errors">
            </app-form-errors>
          </mat-error>
        </mat-form-field>
        <mat-checkbox
          formControlName="deseo_recibir">
          Deseo recibir la notificación al correo electrónico
        </mat-checkbox>
        <mat-form-field
          appearance="outline">
          <mat-label>Dirección del predio</mat-label>
          <input
            required
            type="text"
            matInput
            placeholder="Escribe la dirección del predio"
            formControlName="direccion_predio">
          <mat-error *ngIf="form.get('direccion_predio').status === 'INVALID'">
            <app-form-errors
              errorPrefix="Este campo es requerido"
              [errors]="form.get('direccion_predio').errors">
            </app-form-errors>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Departamento</mat-label>
          <input
            required
            formControlName="departamento"
            type="text"
            matInput
            [matAutocomplete]="departamentoAuto"
            placeholder="Escribe el daparamento a buscar">
          <mat-autocomplete
            (closed)="_autoComplete.compareValueWithSelectionState(form.get('departamento'), form.get('municipio'))"
            #departamentoAuto="matAutocomplete">
            <mat-option
              (onSelectionChange)="_autoComplete.seeSelectionObject(option, 'departamento')"
              #options
              *ngFor="let option of filteredState$ | async"
              [value]="option.description">
              {{ option.description }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="form.get('departamento').status === 'INVALID'">
            <app-form-errors
              errorPrefix="Este campo es requerido"
              [errors]="form.get('departamento').errors">
            </app-form-errors>
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline">
          <mat-label>Municipio</mat-label>
          <input
            required
            formControlName="municipio"
            type="text"
            matInput
            [matAutocomplete]="municipioAuto"
            placeholder="Escribe el municipio a buscar">
          <mat-autocomplete
            (closed)="_autoComplete.compareValueWithSelection(form.get('municipio'))"
            #municipioAuto="matAutocomplete">
            <mat-option
              (onSelectionChange)="_autoComplete.seeSelectionObject(option, 'municipio')"
              #options
              *ngFor="let option of filteredMunicipio$ | async"
              [value]="option.description">
              {{ option.description }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="form.get('municipio').status === 'INVALID'">
            <app-form-errors
              errorPrefix="Este campo es requerido"
              [errors]="form.get('municipio').errors">
            </app-form-errors>
          </mat-error>
        </mat-form-field>
        <div
          fxFill
          fxLayout="column"
          fxLayoutGap="12px"
          fxLayoutAlign="center center">
          <app-autorizacion-tratamiento
            (sendIdPolitic)="reciveIdPolitic($event)"
            fxLayout="column"
            fxLayoutGap="7px"
            fxLayoutAlign="center center"
            [control]="form.get('autorizacion')">
          </app-autorizacion-tratamiento>
          <re-captcha
            formControlName="recaptcha"
            (resolved)="recaptchaResolved($event)">
          </re-captcha>
        </div>
        <div
          fxFill
          class="terms-and-conditions"
          fxLayout="row"
          fxLayoutAlign="end end">
          <button
            color="accent"
            mat-raised-button
            (click)="consultar()"
            [disabled]="form.invalid || (_loadingService.getHTTPStatus() | async)"
            mat-button>
            {{ textButton }}
          </button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Simulador de tarifas">
      <div
        class="padding25">
        <app-ventas-comercios-simulacion-clientes>
        </app-ventas-comercios-simulacion-clientes>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
