.card-pqr{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}



.files-container-pqr {
  padding: 10px;
  margin-top: 3px;
  margin-bottom: 5px;

}

.open-politica:hover {
  text-decoration: underline;
  cursor: pointer;
}
