mat-form-field {
  width: 100%;
}
.margin-btn-icon {
  margin-bottom: 14px !important
}

.btn-address {
  margin-bottom: 16px;
}

.field-address {
 width: 80%;
}

.table-container {
  min-width: 300px;
  margin-bottom: 20px;
  .td-icon{
    text-align: end;
  }
}

