.form-container {
  height: 100vh;
  #change-password-form {
    position: relative;
    box-sizing: border-box;
    max-width: 450px;
    padding: 48px 40px 36px;
    border-radius: 6px;

    .progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    img {
      width: 171px;
      height: auto;
      margin-bottom: 18px;
    }



    .field-form-change-password {
      margin-top: 8px;
      width: 100%;
    }

    .recaptcha {
      margin-top: 2px;
      margin-bottom: 14px;
    }



  }
}
