mat-form-field {
  width: 100%;
}
.text-preview-pdf {
  text-align: center;
  width: 100%;
  a {
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
}
.mat-h2 {
  text-align: center;
  width: 100%;
}
