<mat-toolbar
   class="mat-elevation-z4"
   id="toolbar-breadcrumb">
<!--
  <mat-spinner *ngIf="loadingSpinner.loadingRouterService$ | async" [diameter]="40"></mat-spinner>
  <ng-container *ngIf="(migaDePan | async) as breadcrumb">
    <ng-container *ngFor="let miga of breadcrumb; let i = index; let last = last">
      <div flexLayout="row" fxLayoutAlign="space-evenly center"
           class="text-miga"
           [ngClass]="i === breadcrumb.length-1 ?  'text-miga-inactive': ''"
           [routerLink]="miga.url">
        {{ miga.description }}
      </div>
      <mat-icon  class="icon" *ngIf="!last && !miga.error">keyboard_arrow_right</mat-icon>
    </ng-container>
  </ng-container>
-->
</mat-toolbar>

