<div id="not-found-container"
     fxLayout="row"
     fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
   <!-- <h1 class="mat-display-4 title">404</h1> -->
    <img src="assets/404.png">

    <div class="mat-elevation-z5 card-not-found">
      <h2 class="mat-subheading-4">
        Lo sentimos no hemos podido encontrar la página solicitada
      </h2>
      <mat-divider></mat-divider>
      <div
        class="button-container"
        fxLayout="row"
        fxLayoutAlign="center center">
        <a
          [routerLink]="'/'+dinamicURL"
          mat-fab>
          <mat-icon>home</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
