.container-card {


  .card-width {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 700px;
  }

  mat-form-field {
    width: 100%;
  }

}

mat-divider {
  width: 100%;
}
.check-class {
  margin-bottom: 20px;
}
