.card-firmas {
  width: 800px;
}
.general-card-border {
  margin-top: 50px;
  margin-bottom: 50px;
}
.padding25 {
  mat-form-field {
    width: 100%;
  }
  mat-divider {
    width: 100%;
  }
}
.table-container {
  border-bottom: none;
  margin-bottom: 16px !important;
}

.btn-añadir {
  margin-top: 10px;
}
