<div fxLayout="row"
     class="form-container"
     fxLayoutAlign="center center">
  <form [formGroup]="forgetPasswordClientes"
        id="change-password-form"
        fxLayout="column"
        class="mat-elevation-z2">
    <img src="{{logo}}">
    <h2 class="mat-h1">Recuperar contraseña</h2>
    <span>Introduce una dirección de correo registrada para restablecer tu contraseña</span>
    <mat-form-field appearance="outline" class="field-form-change-password">
      <mat-label>Correo electrónico</mat-label>
      <input formControlName="forgetPasswordClientes"
             autocomplete="new-password"
             matInput
             placeholder="Introduce tu email"
             required
             type="email">
      <mat-error *ngIf="forgetPasswordClientes.get('forgetPasswordClientes').status === 'INVALID'">
        <app-form-errors
          errorPrefix="Este campo es obligatorio"
          [errors]="forgetPasswordClientes.get('forgetPasswordClientes').errors">
        </app-form-errors>
      </mat-error>
    </mat-form-field>
    <div
      class="recaptcha"
      fxLayout="column"
      fxLayoutAlign="center center">
      <re-captcha
        formControlName="recaptcha">
      </re-captcha>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button (click)="goBack()"
              mat-button
              color="accent"
              type="button">
        Prefiero iniciar sesión
      </button>
      <button (click)="submit()"
              mat-raised-button
              color="accent"
              [disabled]="forgetPasswordClientes.invalid || (_Loading.getHTTPStatus() | async)"
              type="submit">
        ENVIAR EMAIL
      </button>
    </div>
  </form>
</div>
