<h1 class="mat-h1" mat-dialog-title>Datos del registro</h1>
<small mat-dialog-title *ngIf="_loading.getHTTPStatus() | async">Cargando inforamción por favor espere...</small>
<div
  mat-dialog-content>
<div
  style="overflow-y: auto"
  fxLayout="row"
  fxLayoutAlign="center start">
  <mat-vertical-stepper
    class="mat-elevation-z2 card-ventas general-card-border card-width"
    [linear]="false">
    <mat-step
      [stepControl]="form">
      <ng-template matStepLabel>Información General</ng-template>
      <app-general-info
        [form]="form">
      </app-general-info>
    </mat-step>
    <mat-step
      [stepControl]="form2">
      <ng-template matStepLabel>Información tributaria</ng-template>
      <app-informacion-tributaria
        [form]="form2">
      </app-informacion-tributaria>
    </mat-step>
    <mat-step
      [stepControl]="form3">
      <ng-template matStepLabel>Clasificación financiera</ng-template>
      <app-clasificacion-financiera
        [form]="form3">
      </app-clasificacion-financiera>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Clasificación proveedor</ng-template>
      <app-clasificacion-proveedor [list]="listClassification">
      </app-clasificacion-proveedor>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Documentación adjunta</ng-template>
      <app-documentacion-adjunta [fileList]="documentacionAdjuntaArr">
      </app-documentacion-adjunta>
     <!-- <div
        fxFill
        class="terms-and-conditions"
        fxLayout="row"
        fxLayoutAlign="end end">
        <button
          (click)="crearProveedor()"
          style="margin-top: 20px"
          [disabled]="form.invalid || form2.invalid || form3.invalid || form5.invalid || clasificacionArray.length <= 10 || (_loading.getHTTPStatus() | async)"
          color="accent"
          mat-raised-button
          mat-button>
          REGISTRAR
        </button>
      </div> -->
    </mat-step>
  </mat-vertical-stepper>
</div>
</div>
<div
  fxLayout="row"
  fxLayoutGap="end center"
  mat-dialog-actions>
  <button (click)="cerrar()" mat-button mat-dialog-close>Cerrar</button>
</div>
